@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-mono);
  }

  a {
    color: var(--color-foreground);
    text-decoration: underline;
  }

  a:hover {
    color: var(--color-lime-500);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    line-height: var(--leading-tight);
    margin-block: calc(var(--spacing) * 2);
  }

  h1 {
    font-size: var(--text-3xl);
  }

  h2 {
    font-size: var(--text-2xl);
  }

  h3 {
    font-size: var(--text-xl);
  }

  h4 {
    font-size: var(--text-lg);
  }

  p {
    margin-block: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
  }

  button {
    cursor: pointer;
  }

  button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
