@import "tailwindcss";
@import "./base.css";

@theme {
  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-annotation: #4f4f4f;

  --font-mono: "JetBrains Mono", monospace;
}

.dark {
  --color-background: #1a1a1a;
  --color-foreground: #f0f0f0;
  --color-annotation: #aca8a8;
}
