@import "tailwindcss";

@theme {
    --color-background: #ffffff;
    --color-foreground: #000000;

    --font-default: 'JetBrains Mono', sans-serif;
}

.dark {
    --color-background: #1a1a1a;
    --color-foreground: #f0f0f0;
}

body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-default);
}
